html {
	height: 100%;
	font-size: 3.5vw;
	line-height: 1.0rem;
	font-family: 'Open Sans', sans-serif;


}

body {
	/*padding-top: 2.5rem;*/
	font-size: 100%;
	line-height: 100%;
	min-height: 100%;
	height: 100%;

	background: rgba(0,0,0,.85);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
  background-image: url('./../img/missoula-skyline.jpg');
  -webkit-animation: grayscale 5s 1;
	animation: grayscale 5s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes grayscale {
  0% { -webkit-filter: grayscale(0%); }
  100% { -webkit-filter: grayscale(100%); }
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box1 { opacity: 0;
  -webkit-animation: fadeInBoxe 1s 5000ms;
	animation: fadeInBoxes 1s 5000ms;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 1500; }
.box2 { opacity: 0;
  -webkit-animation: fadeInBoxe 1s 5250ms;
	animation: fadeInBoxes 1s 5250ms;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 1500; }
.box3 { opacity: 0;
  -webkit-animation: fadeInBoxe 1s 5500ms;
	animation: fadeInBoxes 1s 5500ms;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 1500; }
.box4 { opacity: 0;
  -webkit-animation: fadeInBoxe 1s 5750ms;
	animation: fadeInBoxes 1s 5750ms;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: 1500; }




.box {
	margin: 10px 20px;
	background: rgba(255,255,255,.5);
	border: 2px solid rgba(255,255,255,.85);

}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: rgba(66,66,66,.65);
	text-align: center;
}

header h1 {
	font-size: 1.25rem;
	line-height: 2.5rem;
}

header h1 span {
	font-size: .65rem;
	line-height: .65rem;
	color: #FFF;
	display: inline-block;
}

#content {}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 100%;
}

.flex-container > div {
	flex: 1;
}

section .flex-container {
	justify-content: space-between;
} 

section .flex-container > div {
	padding: 1.0rem;
}


section h3 {
	text-decoration: underline;
	line-height: 2.0rem;
}

aside,
section {
	padding: .5rem;
}

aside {
	background: #efefef;
	min-height: calc( 100vh - 2.5rem - 1.05rem);
	flex: 2;
}

section {
	flex: 8;
	text-align: center;
	/*background: blue;*/
}


footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(66,66,66,.65);
	color: #FFF;
	/*padding: .20rem;*/
	font-size: .65rem;
	line-height: 1.05rem;
	text-align: center;
	font-weight: normal;
}

footer a {
	color: #dedede;
}


#loader-wrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1440;
}

#loader {
	height: 100%;
	width: 100%;
	/*border: 2px solid green;*/

	display: flex;
  	align-items: center;
  	justify-content: center;
}



svg path.svg-logo {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,0);
	-webkit-animation: fadeIn 2s 1s;
	animation: fadeIn 2s 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

svg rect.svg-logo {
	fill: rgba(255,255,255,0);
	stroke: rgba(255,255,255,0);
	-webkit-animation: fadeIn 2s 1s;
	animation: fadeIn 2s 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { fill: rgba(255,255,255,0); }
  100% { fill: rgba(255,255,255,1); }
}

@keyframes fadeInBoxes {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.loaded #loader {
    opacity: 0;
    -webkit-transition: all 500ms 4500ms ease-out;
            transition: all 500ms 4500ms ease-out;

}

.no-js .grid2x2 {
	display: block;
}

 #loader-wrapper {
    /*visibility: hidden;*/

    /*-webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;*/
}

#loader .img-wrapper {
	flex: 1;
	max-width: 50%;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

.path {
        fill: none;
        stroke: #FFF;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }

      .arrowhead {
        stroke: #FFF;
        fill: #FFF;
        stroke-width: 0px;
      }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 6500ms linear alternate infinite;
  -webkit-animation: dash 6500ms linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	html {
		font-size: 2.5vw;
	}

	#loader .img-wrapper {
		max-width: 50%;
	}



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	html {
		font-size: 2.0vw;
	}
	#loader .img-wrapper {
		max-width: 45%;
	}

		.grid2x2 > div {
	  display: flex;
	  flex-basis: calc(50% - 44px);
	  justify-content: center;
	  flex-direction: column;
	}

	.box {
		margin: 20px 20px;
		background: rgba(255,255,255,.5);
		border: 2px solid rgba(255,255,255,.85);

	}
} 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	html {
		font-size: 1.5vw;
	}
	#loader .img-wrapper {
		max-width: 35%;
	}
} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	html {
		font-size: 1.0vw;
	}
	#loader .img-wrapper {
		max-width: 25%;
	}
}